:root {
  --main-color: #d8e6e8;
  --secondary-color: #1b7380;
}

body {
  display: block;
  margin: 0;
  background-color: var(--main-color);
  color: var(--secondary-color);
  margin: 2em;
  border: 5px solid var(--secondary-color);
  padding: 2em;
  box-sizing: border-box;
}

h2 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Limelight", cursive;
  text-align: center;
  font-size: 6em;
  font-weight: lighter;
  margin: 0;
  border-bottom: 5px solid var(--secondary-color);
}
.body-display {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-left: -1.5em;
  flex-direction: column;
  align-content: center;
}
.tic-tac-toe {
  padding: 1em 3em;
  margin: auto;
}
.row {
  display: flex;
}

.row div,
.row button {
  width: 12vw;
  height: 12vw;
  border: none;
  font-size: 5vw;
  text-align: center;
  font-family: "Architects Daughter", cursive;
  border: 5px solid var(--secondary-color);
  background-color: var(--main-color);
}

button {
  font-family: "Architects Daughter", cursive;
}

button:disabled {
  box-sizing: border-box;
  color: #0a3d62;
}
.font {
  box-sizing: border-box;
  text-align: center;
}

.scores {
  padding: 0 3em;
  margin: auto;
}

.scores h2 {
  font-family: "PT Serif Caption", serif;
  letter-spacing: 0.1em;
}

#x-score,
#o-score {
  padding: 0 0.5em;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 7em;
  }
  .body-display {
    width: 70%;
    flex-direction: row;
    margin: 2em auto 0 auto;
  }

  .row button {
    width: 9vw;
    height: 9vw;
  }
}
