body {
  display: block;
  margin: 0;
  background-color: #ffdca1;
  color: #ff9f29;
  margin: 2em;
  border: 5px solid #ff9f29;
  padding: 2em;
  box-sizing: border-box;
}

h2 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Limelight", cursive;
  text-align: center;
  font-size: 7em;
  font-weight: lighter;
  margin: 0;
  border-bottom: 5px solid #ff9f29;
}
.body-display {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.tic-tac-toe {
  padding: 0 3em;
}
.row {
  display: flex;
}

.row div,
.row button {
  width: 150px;
  height: 150px;
  border: none;
  font-size: 6.5em;
  text-align: center;
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
  border: 5px solid #ff9f29;
  background-color: #ffdca1;
}

button {
  font-family: "Architects Daughter", cursive;
}

button:disabled {
  box-sizing: border-box;
  color: #0a3d62;
}
.font {
  box-sizing: border-box;
  text-align: center;
}

.scores {
  padding: 0 3em;
}

.scores h2 {
  font-family: "PT Serif Caption", serif;
  letter-spacing: 0.1em;
}

#x-score,
#o-score {
  padding: 0 0.5em;
}
